$bg-color: #0080ff;
$forky-color: #f0f0f0;
$shadow: #cecece;
$mouth-color: #89d0f0;
$mouth-shadow-color: #999;

.box-shadow {
  box-shadow: 2px 3px 4px 2px $shadow;
}

.brow {
  width: 190px;
  height: 81px;
  border: 20px solid #d70000;
  border-radius: 32% 43% 39% 42% / 28% 21% 86% 72%;
  position: absolute;
  top: 107px;
  left: 51px;
  clip-path: polygon(0 44%, 100% 36%, 99% 100%, 0% 100%);
  transform: rotate(190deg);
}

.cheek {
  background: radial-gradient(#fce2d1, $forky-color);
  border-radius: 50%;
  height: 70px;
  position: absolute;
  width: 70px;
}

.cheek1 {
  left: 34px;
  top: 220px;
}

.cheek2 {
  left: 198px;
  top: 200px;
}

.eye {
  border-radius: 50%;
  position: absolute;
}

.eye-left {
  background-color: #e8e1ef;
  height: 90px;
  left: 62px;
  top: 150px;
  width: 90px;
}

.eye-right {
  background-color: #f1f1f1;
  height: 50px;
  left: 162px;
  top: 180px;
  width: 50px;
}

.face {
  background: $forky-color;
  border-radius: 75% 40%;
  height: 340px;
  transform: rotate(-30deg);
  width: 290px;
}

.iris {
  background-color: #121212;
  border-radius: 50%;
  position: absolute;
}

.iris-left {
  width: 60px;
  height: 60px;
  left: 62px;
  top: 170px;
}

.iris-right {
  width: 30px;
  height: 30px;
  left: 168px;
  top: 195px;
}

.mouth1 {
  border: 15px solid $mouth-color;
  border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
  clip-path: polygon(0 33%, 100% 11%, 99% 100%, 0% 100%);
  height: 81px;
  left: 99px;
  position: absolute;
  top: 250px;
  width: 120px;
}

.mouth2 {
  width: 134px;
  height: 80px;
  border: 15px solid $mouth-color;
  border-radius: 42% 17% 70% 44% / 32% 28% 80% 73%;
  position: absolute;
  top: 210px;
  left: 85px;
  clip-path: polygon(0 86%, 100% 46%, 99% 100%, 1% 100%);
}

.mouth1-shadow {
  border: 15px solid $mouth-shadow-color;
  border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
  clip-path: polygon(0 33%, 100% 11%, 99% 100%, 0% 100%);
  height: 81px;
  left: 100px;
  position: absolute;
  top: 251px;
  width: 120px;
}

.mouth2-shadow {
  width: 134px;
  height: 80px;
  border: 15px solid $mouth-shadow-color;
  border-radius: 42% 17% 70% 44% / 32% 28% 80% 73%;
  position: absolute;
  top: 213px;
  left: 86px;
  clip-path: polygon(0 86%, 100% 46%, 99% 100%, 1% 100%);
}

.points {
  left: -10px;
  position: absolute;
  top: -4px;
}

.point-mask {
  background-color: $bg-color;
  height: 150px;
  left: 67px;
  position: absolute;
  top: -30px;
  width: 146px;
}

.forky {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  background: $bg-color;
}
