$bg-color: #0080ff;
$brow-color: #d70000;
$cheek-color: #ffc0cb;
$forky-color: #f0f0f0;
$second-body-color: #09006f;
$shadow-color: #cecece;
$mouth-color: #46d5ff;
$mouth-shadow-color: #999;

@mixin shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

body {
  background-image: radial-gradient($bg-color, $second-body-color);
  margin: 1px;
}

.brow {
  left: 20px;
  position: absolute;
  transform: rotate(10deg);
  top: 50px;
  width: 280px;
}

.cheek {
  background: radial-gradient($cheek-color, $forky-color);
  border-radius: 50%;
  height: 70px;
  position: absolute;
  width: 70px;
}

.cheek1 {
  left: 34px;
  top: 220px;
}

.cheek2 {
  left: 198px;
  top: 200px;
}

.circle {
  @include shadow(0px, 0px, 14px, 4px, #00008b);
  background-color: $bg-color;
  border: 10px solid white;
  border-radius: 50%;
  height: 600px;  
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;  
  width: 600px;  
}

.eye {
  @include shadow(2px, 2px, 2px, 2px, $shadow-color);
  border-radius: 50%;
  position: absolute;
}

.eye-left {
  @include shadow(2px, 2px, 1px, 1px, $shadow-color);
  background-color: #f1f1f1;
  height: 90px;
  left: 62px;
  top: 150px;
  width: 90px;
}

.eye-right {
  @include shadow(2px, 2px, 2px, 2px, $shadow-color);
  background-color: #f1f1f1;
  height: 50px;
  left: 162px;
  top: 180px;
  width: 50px;
}

.face {
  background: $forky-color;
  border-radius: 75% 40%;
  height: 340px;
  transform: rotate(-30deg);
  width: 290px;
}

.forky {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iris {
  background-color: #121212;
  border-radius: 50%;
  position: absolute;
}

.iris-left {
  @include shadow(2px, 2px, 2px, 2px, $shadow-color);
  height: 60px;
  left: 62px;
  top: 170px;
  width: 60px;
}

.iris-right {
  height: 30px;
  left: 168px;
  top: 195px;
  width: 30px;
}

.mouth1 {
  border: 15px solid $mouth-color;
  border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
  clip-path: polygon(0 33%, 100% 12%, 99% 100%, 0% 100%);
  height: 81px;
  left: 99px;
  position: absolute;
  top: 250px;
  width: 120px;
}

.mouth2 {
  height: 80px;
  border: 15px solid $mouth-color;
  border-radius: 42% 17% 70% 44% / 32% 28% 80% 73%;
  clip-path: polygon(0 86%, 100% 46%, 99% 100%, 1% 100%);
  left: 85px; 
  position: absolute;
  top: 210px;
  width: 134px;
}

.mouth1-shadow {
  border: 15px solid $mouth-shadow-color;
  border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
  clip-path: polygon(0 33%, 100% 11%, 99% 100%, 0% 100%);
  height: 81px;
  left: 100px;
  position: absolute;
  top: 251px;
  width: 120px;
}

.mouth2-shadow {
  border: 15px solid $mouth-shadow-color;
  border-radius: 42% 17% 70% 44% / 32% 28% 80% 73%;
  clip-path: polygon(0 86%, 100% 46%, 99% 100%, 1% 100%);
  height: 80px;
  left: 86px;
  position: absolute;
  top: 213px;
  width: 134px;
}

.neck {
  background-color: $forky-color;
  border-radius: 0 0 100% 100% / 0 0 5% 5%;
  height: 162px;
  left: 105px;
  position: absolute;
  top: 300px;
  width: 74px;
}

.points {
  left: -10px;
  position: absolute;
  top: -4px;
}

.point-mask {
  background-color: $bg-color;
  height: 150px;
  left: 67px;
  position: absolute;
  top: -30px;
  width: 146px;
}
